.contacts {
  padding: 50px 0 90px;
  h2 {
    text-align: center;
  }
  &__intro {
    text-align: center;
    max-width: 520px;
    margin: $mc;
    margin-bottom: 40px;
  }
}
.contacts__form {
  @include flex(center, center);
  input,
  textarea {
    width: calc(33.333% - 16px);
    margin: 0 8px 16px;
    height: 60px;
    border-radius: 5px;
    background: $gray;
    border: none;
    padding: 0 20px;
    font-size: 14px;
    outline: none;
    color: $color;
    border: 1px solid transparent;
    &::placeholder {
      color: $gray-opacity;
    }
    &:focus {
      border: 1px solid $yellow;
    }
  }
  textarea {
    width: 100%;
    height: 120px;
    padding: 20px;
    resize: none; //отключаем возможность изменять размер поля ввода сообщений
  }
}
.contacts__data-submit {
  @include flex(space-between, center);
  padding: 0 8px;
  width: 100%;
  .contacts__submit {
    width: 50%;
    max-width: 580px;
    background: $yellow;
    height: 60px;
    border: none;
    border-radius: 5px;
    color: $white;
    font-size: 12px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      background: darken($yellow, 10%); //затемнить на 10%
    }
  }
}
.contacts__data {
  @include flex(flex-start, center);
}
.contacts__data-item {
  @include flex(flex-start, center);
  font-weight: bold;
  font-size: 12px;
  color: $gray-opacity;
  margin-right: 20px;
  a {
    color: $gray-opacity;
  }
  svg {
    width: 14px;
    height: 16px;
    margin-right: 5px;
  }
}
.map {
  width: 100%;
  height: 475px;
  iframe {
    width: 100%;
    height: 100%;
  }
}

