$kurale: 'Kurale', serif;
$os: 'Open Sans', sans-serif;
$white: #fff;
$color: #000;
$text: 18px;
$wrap: 1440px;
$container: 1230px;
$mc: 0 auto;
$yellow: #e8c300;
$gray: #e5e5e5;
$tabs: #333;
$tabs-opacity: rgba(51, 51, 51, 0.2);
$white-opacity: rgba(255, 255, 255, 0.5);
$black-opacity: rgba(0, 0, 0, 0.5);
$gray-opacity: rgba(51, 51, 51, 0.5);

@mixin flex($jc, $ai) {
  display: flex;
  flex-wrap: wrap; //если что-то не вместится, то переместится на другую строку
  justify-content: $jc;
  align-items: $ai;
}
@mixin line {
  content: ''; //свойство content заменяет элемент сгенерированным значением
  display: block;
  width: 60px;
  height: 5px;
  background: $yellow;
  border-radius: 50px;
  margin: $mc;
  margin-top: 10px;
  margin-bottom: 35px;
}
@mixin img {
  width: 100%;
  height: auto;
  filter: drop-shadow(0px 0px 50px $black-opacity);
  border-radius: 5px;
}

html, body {
  height: 100%;
}  

body {
  background: $white;
  font-family: $os;
  color: $color;
  font-size: $text;
}

.wrapper {
  min-height: 100%;
  margin-bottom: -60px;
  max-width: $wrap;
  margin: $mc;
}

.container {
  padding: 0 15px;
  max-width: $container;
  margin: $mc;
}
svg {
  width: 100%;
  height: 100%;
}
.circle {
  height: 250px;
  width: 250px;
  border: 20px solid $yellow;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  filter: drop-shadow(0px 0px 100px $black-opacity);
}
section h2 {
  font-size: 42px;
  font-weight: 400;
  font-family: $kurale;
  &::after {
    @include line;
  }
}
section p {
  line-height: 175%;
  margin-bottom: 25px;
}
.intro {
  font-weight: bold;
}
