$kurale: 'Kurale', serif;
$os: 'Open Sans', sans-serif;
$white: #fff;
$color: #000;
$text: 18px;
$wrap: 1470px;
$container: 1275px;
$mc: 0 auto;
$yellow: #e8c300;
$white-opacity: rgba(255, 255, 255, 0.5);

@mixin flex($jc, $ai) {
  display: flex;
  flex-wrap: wrap; //если что-то не вместится, то переместится на другую строку
  justify-content: $jc;
  align-items: $ai;
}
@mixin line {
  content: ''; //свойство content заменяет элемент сгенерированным значением
  display: block;
  width: 60px;
  height: 5px;
  background: $yellow;
  border-radius: 50px;
  margin: $mc;
  margin-top: 15px;
  margin-bottom: 30px;
}

body {
  background: $white;
  font-family: $os;
  color: $color;
  font-size: $text;
}

.wrapper {
  max-width: $wrap;
  margin: $mc;
  padding: 0 15px;
}
.container {
  max-width: $container;
  margin: $mc;
}
svg {
  width: 100%;
  height: 100%;
}
